body {
  font-family: "Inconsolata", sans-serif;
  margin: 0;
  padding: 0;
}

.solid {
  border: 3px solid whitesmoke;
}

.header {
  background: url(../assets/img/header-background.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 130px;
  min-width: 1200px;
}

.container {
  display: flex;
}

.menu {
  margin: 60px auto;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
}

.menu__item {
  margin: 0px 30px;
}

.menu__link {
  text-decoration: none;
  font-size: 28px;
  color: whitesmoke;
}

.main {
  width: 100%;
  overflow: auto;
  width: 100%;
  min-width: 1200px;
}

.container-left {
  float: left;
  width: 25%;

  background-color: grey;
}

#me {
  margin: 5px 5px;
}

.name {
  display: flex;
  justify-content: center;
  color: black;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.photo img {
  width: 90%;
  border-radius: 100%;
  margin-bottom: 20px;
  padding: 5% 5%;
}

#contacts {
  margin-top: 45px;
}

.contacts {
  display: flex;
  justify-content: center;
}

.contacts__list {
  display: flex;
  justify-content: center;
}

.contacts__item {
  margin: 30px 15px;
}

.contacts__link {
  text-decoration: none;
  color: aliceblue;
}

.container-right {
  float: right;
  width: 75%;
  background-color: #2f3138;
}

#about {
  margin: 40px 40px;
  text-align: justify;
}

.about {
  color: whitesmoke;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 32px;
}
